@import url('https://rsms.me/inter/inter.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow-y: hidden;
}

body .inner {
    padding: 20px;
    margin-top: 30px;
    overflow-wrap: break-word;
}

body .error {
    border-left: 4px solid #e33c3c;
}

body .success {
    border-left: 4px solid #06bd06;
}

h3.light {
   font-weight: normal; 
}

* {
    font-family: "Inter", "Roboto", sans-serif;
    font-feature-settings: "ss01";
}


@media only screen and (max-width: 1000px) {
    body .inner {
        width: 50vw;
    }
}

@media (prefers-color-scheme: dark) {
    body {
	background-color: #1c0121;
    }

    * {
	color: #eee;
    }

    div.error {
        border-color: #a40000;
    }

    div.success {
        border-color: #007100;
    }

}
