@import url('https://fonts.googleapis.com/css2?family=Work+Sans');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow-y: hidden;
}

body .inner {
    padding: 20px;
    margin-top: 30px;
    overflow-wrap: break-word;
}

body #error {
    border-left: 4px solid #e33c3c;
}

body #success {
    border-left: 4px solid #06bd06;
}

* {
    font-family: "Work Sans", "Roboto", sans-serif;
}

@media only screen and (max-width: 1000px) {
    body .inner {
        width: 50vw;
    }
}
